body {
  font-family: "Roboto";
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}
a :hover {
  color: #000000;
}

li {
  list-style-type: none;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  margin-top: 0px;
}

#container {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

header {
  box-shadow: 0px 1px 5px 1px #c6c4c4;
  position: relative;
  z-index: 1;
}

#logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#logo img {
  width: 10rem;
}

footer {
  background: #353535;
  color: #FFFFFF;
  padding: 25px 70px 70px 20px;
  margin: 0;
}
footer img {
  filter: invert(100%);
  width: 100px;
}
footer ul {
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul i {
  width: 20px;
  margin-right: 5px;
}
footer ul a {
  color: #FFFFFF;
}

@-webkit-keyframes disparition {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes disparition {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h3 {
  font-size: 1.1rem;
  margin-bottom: 4px;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h4 {
  color: #838383;
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#logo i {
  position: absolute;
  top: 25px;
  left: 40px;
}

main {
  background-color: #f9f9f9;
}

img.fond {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  position: relative;
  top: -40px;
  background-color: #f9f9f9;
  border-radius: 40px 40px 0px 0px;
}
#menu h1 {
  font-family: "Shrikhand";
}

#titre {
  display: flex;
  justify-content: space-between;
}
#titre label {
  padding-right: 50px;
}
#titre input[type=checkbox] {
  display: none;
}
#titre input[type=checkbox]:checked ~ .checked {
  opacity: 1;
  transition: opacity 3s;
}
#titre input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
#titre .checked {
  opacity: 0;
  background: linear-gradient(#a65cdc, #e070db);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#titre i {
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
}

section.entrees,
section.plats,
section.desserts {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
section.entrees div.barre,
section.plats div.barre,
section.desserts div.barre {
  background-color: #99E2D0;
  width: 45px;
  border: 0;
  height: 5px;
}
section.entrees ul,
section.plats ul,
section.desserts ul {
  padding: 0;
  margin: 20px;
}
@media only screen and (min-width: 1024px) {
  section.entrees ul,
section.plats ul,
section.desserts ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}
section.entrees li,
section.plats li,
section.desserts li {
  height: 60px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 1px #b6b5b5;
  padding-left: 40px;
  font-weight: bold;
  overflow: hidden;
  -webkit-animation: fadeIn 2s ease-out;
          animation: fadeIn 2s ease-out;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media only screen and (min-width: 1024px) {
  section.entrees li,
section.plats li,
section.desserts li {
    flex-basis: 30%;
  }
}
section.entrees li:nth-child(1),
section.plats li:nth-child(1),
section.desserts li:nth-child(1) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
section.entrees li:nth-child(2),
section.plats li:nth-child(2),
section.desserts li:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
section.entrees li:nth-child(3),
section.plats li:nth-child(3),
section.desserts li:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
section.entrees li:nth-child(4),
section.plats li:nth-child(4),
section.desserts li:nth-child(4) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
section.entrees li div.mouv,
section.plats li div.mouv,
section.desserts li div.mouv {
  display: flex;
  right: -50px;
  margin-left: -50px;
  position: relative;
  transition: all 1s;
}
section.entrees li div.titre,
section.plats li div.titre,
section.desserts li div.titre {
  overflow: hidden;
}
section.entrees li div.prix,
section.plats li div.prix,
section.desserts li div.prix {
  padding-top: 30px;
  padding-right: 20px;
}
section.entrees li button.valider,
section.plats li button.valider,
section.desserts li button.valider {
  width: 50px;
  height: 60px;
  padding: 0;
  background: #99E2D0;
  border: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.5rem;
  overflow: hidden;
}
section.entrees li:hover div.mouv,
section.plats li:hover div.mouv,
section.desserts li:hover div.mouv {
  right: 0;
  margin-left: 0;
}
section.entrees li:hover div.mouv i,
section.plats li:hover div.mouv i,
section.desserts li:hover div.mouv i {
  -webkit-animation: rotation 500ms linear 500ms;
          animation: rotation 500ms linear 500ms;
}

#commander {
  display: flex;
  justify-content: center;
}

button.commander {
  width: 250px;
  height: 50px;
  background: linear-gradient(#e070db, #a65cdc);
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 18px;
  box-shadow: 2px 2px 5px 1px #757575;
}
button.commander:hover {
  background: linear-gradient(#de8eda, #b581da);
  box-shadow: 2px 2px 7px 3px #757575;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=menu.css.map */