@import 'layout';

h3 {
    font-size: 1.1rem;
    margin-bottom: 4px;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h4 {
    color: #838383;
    font-size: 0.9rem;
    margin-top: 4px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#logo {
    i {
        position: absolute;
        top: 25px;
        left: 40px;
    }
}

main {
    background-color: $gray-backgroud;
}

img.palette {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#menu {
    position: relative;
    top: -40px;
    background-color: $gray-backgroud;
    border-radius: 40px 40px 0px 0px;

    h1 {
        font-family: 'Shrikhand';
    }
}

#titre {
    display: flex;
    justify-content: space-between;

    label {
        padding-right: 50px;
    }

    @import 'composant';
}

section.entrees,
section.plats,
section.desserts {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;

    div.barre {
        background-color: #99E2D0;
        width: 45px;
        border: 0;
        height: 5px;
    }

    ul {
        padding: 0;
        margin: 20px;
    }

    li {
        height: 60px;
        background: #fff;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px 1px #b6b5b5;
        padding-left: 40px;
        font-weight: bold;
        overflow: hidden;
        animation: fadeIn 2s ease-out;

        div.assiette {
            display: flex;
            justify-content: space-between;
            margin-right: 20px;
            flex-basis: 100%;
            overflow: hidden;
            gap: 20px
        }

        div.titre {
            overflow: hidden;
        }

        div.prix {
            display: flex;
            align-items: flex-end;
            justify-content: end;
        }

        button.valider {
            width: 50px;
            height: 60px;
            padding: 0;
            right: 50px;
            background: #99E2D0;
            border: 0;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 1.5rem;
            transition: right 1s;
            overflow: hidden;
            right: -50px;
            position: relative;
        }

        &:hover button.valider {
            right: 0;

            i {
                animation: rotation 500ms linear 500ms;
            }
        }

    }
}

#commander {
    display: flex;
    justify-content: center;
}

button.commander {
    @include boutonrose;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}