body {
  font-family: "Roboto";
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}
a :hover {
  color: #000000;
}

li {
  list-style-type: none;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  margin-top: 0px;
}

#container {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

header {
  box-shadow: 0px 1px 5px 1px #c6c4c4;
  position: relative;
  z-index: 1;
}

#logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#logo img {
  width: 10rem;
}

footer {
  background: #353535;
  color: #FFFFFF;
  padding: 25px 70px 70px 20px;
  margin: 0;
}
footer img {
  filter: invert(100%);
  width: 100px;
}
footer ul {
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul i {
  width: 20px;
  margin-right: 5px;
}
footer ul a {
  color: #FFFFFF;
}

@-webkit-keyframes disparition {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes disparition {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h3 {
  font-size: 1rem;
  font-weight: 100;
  color: #838383;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

h4 {
  margin-top: 4px;
  margin-bottom: 9px;
}

#loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #9356dc;
  opacity: 50%;
  -webkit-animation-name: disparition;
          animation-name: disparition;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}
#loader i {
  -webkit-animation: rotation 1.2s linear infinite;
          animation: rotation 1.2s linear infinite;
  font-size: 3rem;
  line-height: 3rem;
}

#recherche form {
  display: block;
  padding-bottom: 36px;
  text-align: center;
  position: relative;
  background-color: #f7f7f7;
}
#recherche form p {
  display: flex;
  margin: 0;
}
#recherche form i {
  position: absolute;
  left: 25%;
  top: 15px;
  color: #000000;
}
#recherche form button {
  width: 250px;
  height: 50px;
  background: linear-gradient(#e070db, #a65cdc);
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 18px;
  box-shadow: 2px 2px 5px 1px #757575;
}
#recherche form button:hover {
  background: linear-gradient(#de8eda, #b581da);
  box-shadow: 2px 2px 7px 3px #757575;
}

#lieu {
  border: none;
  background-color: #eaeaea;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
}
#lieu::-moz-placeholder {
  color: #535353;
  font-weight: bold;
}
#lieu:-ms-input-placeholder {
  color: #535353;
  font-weight: bold;
}
#lieu::placeholder {
  color: #535353;
  font-weight: bold;
}

#fonctionnement {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
#fonctionnement ul {
  padding: 0;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  #fonctionnement ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
}
#fonctionnement li {
  height: 60px;
  background: #f7f7f7;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 1px #b6b5b5;
  padding-left: 40px;
  padding-right: 10px;
  font-weight: bold;
}
#fonctionnement li i {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  text-align: center;
  line-height: 1.5rem;
}
#fonctionnement li i.number {
  color: #FFFFFF;
  left: -50px;
  font-size: 0.7rem;
  border-radius: 0.75rem;
  background-color: #9356dc;
}
#fonctionnement li i.picto {
  color: #838383;
  left: -10px;
}
#fonctionnement li:hover {
  background-color: #f5edff;
  box-shadow: 2px 2px 5px 3px #b6b5b5;
}
#fonctionnement li:hover i.picto {
  color: #9356dc;
}

#restaurants {
  background: #F2F2F2;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  #restaurants article {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
}
#restaurants figure {
  background-color: #FFFFFF;
  position: relative;
  margin: 0px;
  margin-bottom: 31px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px #b6b5b5;
}
@media screen and (min-width: 768px) {
  #restaurants figure {
    flex-basis: 45%;
  }
}
#restaurants label.new {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99e2d0;
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 2px;
  color: #109071;
}
#restaurants figcaption {
  margin: 0px 11px 16px 11px;
  display: flex;
  justify-content: space-between;
}
#restaurants img {
  width: 100%;
  height: 119px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
#restaurants p {
  margin-top: 0px;
  margin-bottom: 11px;
}
#restaurants input[type=checkbox] {
  display: none;
}
#restaurants input[type=checkbox]:checked ~ .checked {
  opacity: 1;
  transition: opacity 3s;
}
#restaurants input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
#restaurants .checked {
  opacity: 0;
  background: linear-gradient(#a65cdc, #e070db);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#restaurants i {
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
  color: #AAA;
}/*# sourceMappingURL=styles.css.map */